* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5fbff;
    color: #090499;
}
body::before {
    content: "";
    background-image: url('https://cdn.pixabay.com/animation/2023/02/02/10/08/10-08-57-160_512.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
    color: rgb(0, 170, 255);
}
.logo img{
    width: 20%;
}

.form {
    text-align: center;
    letter-spacing: 2px;
    height: 100vh;
}
.form .centralizar-texto {
    padding-top: 15%;
}
.form form {
    color: #16136d;
    background-color: #b0daf1f7;
    width: 30%;
    height: 80%;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
}
#gif {
    display: none;
    width: 30%;
}
input#senha:focus {
    animation: teste;
}
.form a {
    color: #090499;
    text-decoration: none;
}
.form a:hover {
    color: red;
}
.form input {
    background-color: white;
    border: none;
    padding: 15px;
    width: 80%;
    font-size: 100%;
    border-radius: 10px;
}
.bb {
    background-color: #100b99;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    font-size: 100%;
}
button:hover {
    background-color: #448ca7;
    color: #fbfbfd;
}

@media (max-width: 1000px) {
    .form form {
      width: 80%;
    }
    .form .centralizar-texto {
        padding-top: 20%;
    }
    input {
        width: 80%;
    }
}