* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafbd9;
    padding-top: 70px;
    color: #090499;
    font-family: "Oxanium";
}
body::before {
    content: "";
    /*background-image: url('https://cdn.pixabay.com/photo/2012/03/01/00/53/dog-19812_1280.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
}
.topo {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #090499;
    margin: 8px;
    transition: 0.3s;
}
.nav-list.active {
    transform: translateX(0);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background: orange;*/
    background-image: url('https://img.freepik.com/vetores-gratis/patas-coloridas-de-cachorro-ou-gato-com-padrao-de-fundo_1017-30662.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697673600&semt=sph');
    height: 10.5vh;
}
.nav-list {
    list-style: none;
    display: flex;
    overflow: hidden;
}
.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
}
.nav-list .fundo {
    background-color: white;
}
.nav-list .fundo-l {
    background-color: rgb(240, 68, 29);
}
li .dropbtn {
    background-color: white;
    display: inline-block;
    color: black;
    text-decoration: none;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
a, b{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.8;
    color: rgb(0, 170, 255);
}
.logo {
    font-size: 24px;
    /*text-transform: uppercase;*/
    letter-spacing: 4px;
}
.logo img{
    width: 20%;
}

.home img{
    border: double orange;
    width: 95%;
    height: 60vh;
}
.home {
    margin: 0 auto;
    text-align: center;
}
.botao-inicial {
    background-color: #16136d;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: solid #dab913;
}
.botao-inicial:hover {
    background-color: #d5bc2d;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: solid #FAD200;
}
li {
    list-style-type: none;
}
.selecao-do-servico{
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
    background-color: #d5d6d8;
}
.selecao-do-servico .lista-de-itens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.selecao-do-servico .itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.selecao-do-servico .itens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #FAD200;
    color: rgb(31, 61, 145);
    width: 100%;
    text-align: center;
}

.selecao-do-servico .item img {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FAD200;

}

.lista-de-itens .item.selecionado {
    box-shadow: 0px 0px 24px 5px #f7d202;

}
.item-selecionado {
    text-align: center;
    list-style: none;
    max-height: 530px;
}

.item-selecionado .item-grande{
    width: 430px;
    height: 430px;
}

.item-selecionado .nome-item{
    color: rgb(31, 61, 145);
    border-bottom: 2px solid #FAD200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.item-selecionado .descricao-item{
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    margin-top: 20px;
    width: 420px;
    color: rgb(38, 49, 81);
}
.item-selecionado .link{
    font-size: 16px;
    text-align: center;
    width: 30%;
    background-color: #090499;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.loc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.loc .pesquisa {
    align-items: center;
    width: 30%;
    padding: 10px;
    border: double #16136d;
    border-radius: 8px;
    background-color: #f7f0a5;
}

.loc-mapa {
    width: 50%;
    /*box-shadow: 0px 0px 30px 8px blue;*/
}
.loc .titulo { 
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #240cc2;
    color: #240cc2;
    width: 100%;
    text-align: center;
}
.loc .pesquisa input {
    background-color: rgb(247, 247, 196);
    padding: 8px;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: solid orange;
    width: 95%;
}
.loc .pesquisa select {
    background-color: rgb(247, 247, 196);
    padding: 8px;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: solid orange;
    width: 100%;
}
.loc .pesquisa .pp {
    background-color: #102a6e;
    color: white;
    border: none;
    font-size: 15px;
    padding: 8px;
    width: 20%;
    border-radius: 5px;
}
.loc .pesquisa .pp:hover {
    background-color: #f4f5f7;
    color: #102a6e;
    border: none;
    font-size: 15px;
    padding: 10px;
}
footer {
    color: #f8bb05;
    padding: 8px;
    text-align: center;
}
footer a {
    color: #e6cc0e
}
